@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  #car .car--two {
    flex-wrap: wrap;
  }
  #services .services {
    display: flex;
    flex-wrap: wrap;
  }
  #services button {
    margin-left: 360px;
  }
}
@media (max-width: 1024px) {
  #header .header--logo__nav a {
    padding: 0 2px;
  }
  #header .header--logo__nav button {
    font-size: 15px;
    padding: 10px 10px;
  }
  #hero .hero--group h1 {
    font-size: 110px;
  }
  #block .block--one p {
    font-size: 13px;
  }
  #car .car--two {
    flex-wrap: wrap;
  }
  #services .services {
    display: flex;
    flex-wrap: wrap;
  }
  #services button {
    margin-left: 360px;
  }
  #process .process {
    gap: 10px;
  }
  #process .space {
    gap: 10px;
    flex-direction: column;
  }
  #process .late--c p {
    font-size: 16px;
  }
  #process .late--c ul li {
    font-size: 25px;
  }
  #process .late--c ul li p {
    font-size: 17px;
  }
  #technology .technology {
    padding: 0 0;
  }
}
@media (max-width: 992px) {
  #technology .technology {
    width: 640px;
  }
  #process .process {
    flex-direction: column;
  }
  #process .space {
    flex-direction: column;
  }
  #process .late {
    height: 414px;
  }
}
@media (max-width: 768px) {
  #header .header--logo__nav {
    display: none;
  }
  #hero .hero--group h1 {
    font-size: 60px;
  }
  #car .car--two {
    justify-content: center;
  }
  #services .services {
    justify-content: center;
  }
  #services .services--btn button {
    width: 280px;
    margin: 30px 170px;
  }
  #technology .technology {
    width: 450px;
  }
  #process .process {
    flex-direction: column;
  }
  #process .process--two {
    width: 700px;
  }
  #process .space {
    flex-direction: column;
  }
  #process .space--general {
    width: 700px;
  }
  #process .late {
    height: 414px;
  }
  #request .request {
    flex-direction: column;
  }
  #request .request p {
    padding-bottom: 50px;
  }
  #project .project {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  #header .header--logo__nav {
    display: none;
  }
  #hero .hero--group__text {
    align-items: start;
    flex-direction: column;
  }
  #hero .hero--group__text button {
    width: 200px;
    height: 45px;
    border-radius: 15px;
    font-size: 14px;
  }
  #hero .hero--group__text h2 {
    font-size: 11px;
  }
  #hero .hero--group__text--icons a {
    font-size: 30px;
  }
  #hero .hero--group h1 {
    font-size: 55px;
  }
  #hero .hero--group p {
    font-size: 15px;
  }
  #block .block {
    flex-direction: column;
    gap: 2rem;
  }
  #block .block__one {
    width: 90%;
  }
  #car .car img {
    width: 90%;
  }
  #car .car--two {
    justify-content: center;
  }
  #services .services {
    justify-content: center;
  }
  #services .services--btn button {
    margin: 42px 65px;
  }
  #technology .technology {
    zoom: 70%;
    display: contents;
  }
  #technology .technology--label {
    text-align: center;
  }
  #technology .technology--label .frontend span {
    font-size: 20px;
  }
  #technology .technology--label .backend span {
    font-size: 20px;
  }
  #technology .technology--label .UI-UX span {
    font-size: 20px;
  }
  #technology .technology--label .Database span {
    font-size: 20px;
  }
  #process .process {
    flex-direction: column;
  }
  #process .process--block {
    width: 90%;
  }
  #process .process--two {
    width: 90%;
  }
  #process .process--two__text img {
    width: 20%;
  }
  #process .process--two__text h1 {
    font-size: 32px;
    padding-top: 40px;
  }
  #process .process--two__text p {
    font-size: 15px;
    line-height: 20px;
    padding: 0 0 0 0;
  }
  #process .process--two__text ul li {
    padding: 0 0;
    margin: 0 0;
  }
  #process .space--general {
    width: 90%;
  }
  #process .space--general__most img {
    width: 90%;
    margin-left: 25px;
    margin-top: 45px;
  }
  #process .space--general__most h2 {
    font-size: 15px;
    line-height: 20px;
    margin: 0 40px;
  }
  #process .space--test {
    width: 90%;
  }
  #process .space--test__text p {
    font-size: 15px;
    width: 90%;
    padding: 0 0 0 0;
  }
  #process .space--test__text ul li {
    margin: 0 17px;
  }
  #process .space--test__text img {
    width: 90%;
    margin-left: 0;
  }
  #process .late {
    width: 90%;
    margin-left: 28px;
  }
  #process .late--c h1 {
    font-size: 26px;
  }
  #process .late--c p {
    font-size: 12px;
    margin-left: 20px;
  }
  #process .late--c ul li {
    font-size: 20px;
    margin: 0 15px;
  }
  #process .late--c ul li p {
    font-size: 15px;
  }
  #pro .pro {
    flex-direction: column;
  }
  #pro .pro--title p {
    font-size: 11px;
  }
  #pro .pro--mb img {
    width: 90%;
  }
  #request .request {
    flex-direction: column;
  }
  #request .request--block {
    zoom: 81%;
  }
  #request #pro .pro {
    flex-direction: column;
  }
  #project .project {
    flex-direction: column;
  }
  #project .project--right .menu h1 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  #project .project--right .menu p {
    font-size: 11px;
    padding: 5px 0;
  }
  #project .project--left h1 {
    font-size: 40px;
  }
  #project .project--left button {
    font-size: 20px;
    width: 200px;
    height: 45px;
    border-radius: 15px;
  }
  #project .project--left span {
    font-size: 15px;
    padding-bottom: 10px;
  }
  #project .project--left__icons p {
    font-size: 15px;
  }
}
@media (max-width: 450px) {
  #hero .hero--group h1 {
    font-size: 50px;
  }
  #hero .hero--group p {
    font-size: 14px;
  }
  #hero .hero--group__text {
    flex-wrap: wrap;
  }
  #hero .hero--group__text h2 {
    font-size: 12px;
    margin-bottom: 5px;
  }
  #hero .hero--group__text button {
    width: 300px;
    font-size: 14px;
  }
  #hero .hero--group__text--icons a {
    font-size: 30px;
  }
  #block .block {
    flex-direction: column;
    gap: 2rem;
  }
  #car {
    padding: 25px 0;
  }
  #car .car h1 {
    text-align: center;
    font-size: 25px;
  }
  #car .car img {
    width: 90%;
  }
  #car .car--two {
    justify-content: center;
  }
  #car .car--two__general--one__text h3 {
    font-size: 14px;
  }
  #services h1 {
    font-size: 28px;
    text-align: center;
  }
  #services .services {
    justify-content: center;
  }
  #services .services--block {
    width: 90%;
  }
  #services .services--block__square {
    width: 84%;
    height: 58px;
  }
  #services .services--block__square--dut {
    border-top: 10px dotted white;
  }
  #services .services--block--text h3 {
    font-size: 19px;
  }
  #services .services--btn {
    text-align: center;
  }
  #services .services--btn button {
    margin: 42px 0;
    width: 88%;
    height: 70px;
  }
  #technology h1 {
    font-size: 25px;
    text-align: center;
  }
  #technology .technology--tabs {
    width: 90%;
  }
  #technology .technology--label {
    margin-left: 0;
  }
  #technology .technology--label .frontend span {
    font-size: 20px;
  }
  #technology .technology--label .backend span {
    font-size: 20px;
  }
  #technology .technology--label .UI-UX span {
    font-size: 20px;
  }
  #technology .technology--label .Database span {
    font-size: 20px;
  }
  #team .team h1 {
    text-align: center;
  }
  #process h1 {
    font-size: 24px;
  }
  #process .process {
    flex-direction: column;
    width: 90%;
  }
  #process .process--block {
    width: 90%;
  }
  #process .process--block__text p {
    width: 90%;
    /* height: 120px; */
    font-size: 12px;
    line-height: 22px;
  }
  #process .process--block__text h1 {
    font-size: 28px;
    padding: 20px 0 8px 20px;
  }
  #process .process--block__text h2 {
    font-size: 20px;
  }
  #process .process--block__text ul li {
    font-size: 12px;
  }
  #process .process--block__text img {
    width: 90%;
  }
  #process .process--two {
    width: 90%;
  }
  #process .process--two img {
    width: 16%;
  }
  #process .process--two__text h1 {
    font-size: 20px;
    padding-top: 40px;
  }
  #process .process--two__text p {
    font-size: 12px;
    line-height: 20px;
    padding: 0 0 0 0;
  }
  #process .process--two__text p img {
    width: 16%;
  }
  #process .process--two__text h2 {
    font-size: 12px;
  }
  #process .process--two__text ul li {
    font-size: 14px;
  }
  #process .space--general {
    width: 90%;
  }
  #process .space--general__most h1 {
    font-size: 28px;
  }
  #process .space--general__most h2 {
    font-size: 14px;
    line-height: 22px;
  }
  #process .space--test {
    width: 90%;
  }
  #process .space--test__text h1 {
    font-size: 28px;
  }
  #process .space--test__text ul li {
    font-size: 18px;
    padding: 9px 0;
    margin: 0 10px;
  }
  #process .late {
    width: 90%;
  }
  #process .late--c h1 {
    font-size: 20px;
  }
  #pro .pro {
    flex-direction: column;
  }
  #pro .pro--title h1 {
    text-align: center;
  }
  #pro .pro--title p {
    font-size: 12px;
    line-height: 20px;
  }
  #request h1 {
    text-align: center;
  }
  #request .request {
    flex-direction: column;
  }
  #request .request p {
    font-size: 13px;
  }
  #request .request--block {
    width: 90%;
  }
  #request .request--block button {
    font-size: 15px;
    width: 90%;
    height: 15%;
    margin: 0 15px;
  }
  #request .request--block__input input {
    font-size: 13px;
    margin: 15px 10px;
    font-weight: 400;
    padding-left: 10px;
    width: 184px;
    height: 40px;
  }
  #request .request--block .input {
    font-size: 14px;
    width: 90%;
    height: 40px;
    margin-bottom: 30px;
  }
  #request #pro .pro {
    flex-direction: column;
  }
  #project .project {
    flex-direction: column;
  }
  #project .project--left h1 {
    font-size: 35px;
  }
  #project .project--left button {
    width: 50%;
    font-size: 15px;
  }
  #project .project--left__icons p {
    font-size: 15px;
  }
  #project .project--right .menu {
    padding: 0 20px;
  }
  #project .project--right .menu h1 {
    font-size: 18px;
    padding: 15px 0;
  }
  #project .project--right .menu p {
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  #hero .hero--group h1 {
    font-size: 45px;
  }
  #hero .hero--group p {
    font-size: 12px;
  }
  #hero .hero--group__text {
    flex-wrap: wrap;
  }
  #hero .hero--group__text h2 {
    font-size: 11px;
    margin-bottom: 20px;
  }
  #hero .hero--group__text button {
    width: 200px;
    font-size: 13px;
  }
  #hero .hero--group__text--icons a {
    font-size: 20px;
  }
  #block .block {
    flex-direction: column;
    gap: 2rem;
  }
  #car {
    padding: 25px 0;
  }
  #car .car h1 {
    text-align: center;
    font-size: 25px;
  }
  #car .car img {
    width: 90%;
    margin-left: 16px;
  }
  #car .car--two {
    justify-content: center;
  }
  #car .car--two__general--one__text h3 {
    font-size: 14px;
  }
  #services h1 {
    font-size: 28px;
    text-align: center;
  }
  #services .services {
    justify-content: center;
  }
  #services .services--block {
    width: 90%;
  }
  #services .services--block__square {
    width: 81%;
    height: 58px;
  }
  #services .services--block__square--dut {
    border-top: 10px dotted white;
  }
  #services .services--block--text h3 {
    font-size: 14px;
  }
  #services .services--block--text h2 {
    font-size: 22px;
    line-height: 30px;
  }
  #services .services--block--text p {
    font-size: 14px;
    line-height: 22px;
    margin: 12px 0 0 0;
  }
  #services .services--block--text__price span {
    font-size: 14px;
  }
  #services .services--btn {
    text-align: center;
  }
  #services .services--btn button {
    margin: 30px 0;
    width: 65%;
    height: 60px;
    border-radius: 20px;
    font-size: 19px;
  }
  #technology h1 {
    font-size: 25px;
    text-align: center;
  }
  #technology .technology--tabs {
    width: 90%;
  }
  #technology .technology--label {
    margin-left: 0;
  }
  #technology .technology--label .frontend span {
    font-size: 20px;
  }
  #technology .technology--label .backend span {
    font-size: 20px;
  }
  #technology .technology--label .UI-UX span {
    font-size: 20px;
  }
  #technology .technology--label .Database span {
    font-size: 20px;
  }
  #team .team h1 {
    text-align: center;
  }
  #process h1 {
    font-size: 20px;
  }
  #process .process {
    flex-direction: column;
    width: 90%;
  }
  #process .process--block {
    width: 90%;
  }
  #process .process--block__text p {
    width: 90%;
    /* height: 120px; */
    font-size: 12px;
    line-height: 22px;
  }
  #process .process--block__text h1 {
    font-size: 28px;
    padding: 20px 0 8px 20px;
  }
  #process .process--block__text h2 {
    font-size: 20px;
  }
  #process .process--block__text ul li {
    font-size: 12px;
  }
  #process .process--block__text img {
    width: 90%;
  }
  #process .process--two {
    width: 90%;
  }
  #process .process--two img {
    display: none;
  }
  #process .process--two__text h1 {
    font-size: 20px;
    padding-top: 40px;
  }
  #process .process--two__text p {
    font-size: 12px;
    line-height: 20px;
    padding: 0 0 0 0;
  }
  #process .process--two__text p img {
    width: 16%;
  }
  #process .process--two__text h2 {
    font-size: 12px;
  }
  #process .process--two__text ul li {
    font-size: 14px;
  }
  #process .space--general {
    width: 90%;
  }
  #process .space--general__most h1 {
    font-size: 28px;
  }
  #process .space--general__most h1 img {
    margin-left: 17px;
  }
  #process .space--general__most h2 {
    font-size: 12px;
    line-height: 20px;
  }
  #process .space--test {
    width: 90%;
  }
  #process .space--test__text h1 {
    font-size: 28px;
  }
  #process .space--test__text ul li {
    font-size: 15px;
    padding: 9px 0;
    margin: 0 0;
  }
  #process .late {
    width: 90%;
  }
  #process .late--c h1 {
    font-size: 20px;
  }
  #process .late--c ul li p {
    font-size: 13px;
  }
  #pro .pro {
    flex-direction: column;
  }
  #pro .pro--title h1 {
    text-align: center;
  }
  #pro .pro--title p {
    font-size: 10px;
    line-height: 17px;
  }
  #request h1 {
    text-align: center;
    font-size: 25px;
  }
  #request .request {
    flex-direction: column;
  }
  #request .request p {
    font-size: 11px;
  }
  #request .request--block {
    width: 90%;
  }
  #request .request--block button {
    height: 10%;
    margin: 0 15px;
  }
  #request .request--block__input input {
    font-size: 10px;
    width: 156px;
    height: 38px;
  }
  #request .request--block .input {
    font-size: 14px;
    width: 90%;
    height: 40px;
    margin-bottom: 30px;
  }
  #request #pro .pro {
    flex-direction: column;
  }
  #project .project {
    flex-direction: column;
  }
  #project .project--left h1 {
    font-size: 30px;
  }
  #project .project--left button {
    width: 45%;
    font-size: 15px;
  }
  #project .project--left span {
    font-size: 14px;
    padding-bottom: 5px;
  }
  #project .project--left__icons p {
    font-size: 12px;
  }
  #project .project--right .menu {
    padding: 0 20px;
  }
  #project .project--right .menu h1 {
    font-size: 17px;
    padding: 10px 0;
  }
  #project .project--right .menu p {
    font-size: 11px;
  }
}
@media (max-width: 320px) {
  #hero .hero--group h1 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  #hero .hero--group p {
    font-size: 10px;
  }
  #hero .hero--group__text {
    flex-wrap: wrap;
  }
  #hero .hero--group__text h2 {
    font-size: 10px;
    margin-bottom: 40px;
  }
  #hero .hero--group__text button {
    width: 140px;
    font-size: 10px;
  }
  #hero .hero--group__text--icons a {
    font-size: 20px;
  }
  #block .block {
    flex-direction: column;
    gap: 2rem;
  }
  #block .block--one {
    width: 90%;
  }
  #car {
    padding: 25px 0;
  }
  #car .car h1 {
    text-align: center;
    font-size: 25px;
  }
  #car .car img {
    width: 90%;
    margin-left: 16px;
  }
  #car .car--two {
    justify-content: center;
  }
  #car .car--two__general--one__text {
    left: 105px;
    bottom: 62px;
  }
  #car .car--two__general--one__text h3 {
    font-size: 14px;
  }
  #services h1 {
    font-size: 28px;
    text-align: center;
  }
  #services .services {
    justify-content: center;
  }
  #services .services--block {
    width: 90%;
  }
  #services .services--block__square {
    width: 77%;
    height: 58px;
  }
  #services .services--block__square--dut {
    border-top: 10px dotted white;
  }
  #services .services--block--text h3 {
    font-size: 14px;
  }
  #services .services--block--text h2 {
    font-size: 17px;
    line-height: 20px;
  }
  #services .services--block--text p {
    font-size: 14px;
    line-height: 22px;
    margin: 12px 0 0 0;
  }
  #services .services--block--text__price span {
    font-size: 14px;
  }
  #services .services--btn {
    text-align: center;
  }
  #services .services--btn button {
    margin: 30px 0;
    width: 65%;
    height: 60px;
    border-radius: 20px;
    font-size: 19px;
  }
  #technology h1 {
    font-size: 25px;
    text-align: center;
  }
  #technology .technology--tabs {
    width: 90%;
  }
  #technology .technology--label {
    margin-left: 0;
  }
  #technology .technology--label .frontend span {
    font-size: 20px;
  }
  #technology .technology--label .backend span {
    font-size: 20px;
  }
  #technology .technology--label .UI-UX span {
    font-size: 20px;
  }
  #technology .technology--label .Database span {
    font-size: 20px;
  }
  #team .team h1 {
    text-align: center;
  }
  #process h1 {
    font-size: 17px;
  }
  #process .process {
    flex-direction: column;
    width: 90%;
  }
  #process .process--block {
    width: 90%;
  }
  #process .process--block__text p {
    width: 90%;
    /* height: 120px; */
    font-size: 11px;
    line-height: 22px;
  }
  #process .process--block__text h1 {
    font-size: 25px;
    padding: 10px 0 8px 0;
  }
  #process .process--block__text h2 {
    font-size: 25px;
  }
  #process .process--block__text ul {
    padding-left: 12px;
    padding-bottom: 30px;
  }
  #process .process--block__text ul li {
    font-size: 13px;
    margin-top: 26px;
  }
  #process .process--block__text img {
    width: 90%;
  }
  #process .process--two {
    width: 90%;
  }
  #process .process--two img {
    display: none;
  }
  #process .process--two__text h1 {
    font-size: 20px;
    padding-top: 40px;
  }
  #process .process--two__text p {
    font-size: 12px;
    line-height: 20px;
    padding: 0 0 0 0;
  }
  #process .process--two__text p img {
    width: 16%;
  }
  #process .process--two__text h2 {
    font-size: 12px;
    margin-bottom: 30px;
  }
  #process .process--two__text ul li {
    font-size: 14px;
  }
  #process .space--general {
    width: 90%;
  }
  #process .space--general__most h1 {
    font-size: 26px;
  }
  #process .space--general__most h1 img {
    margin-left: 13px;
  }
  #process .space--general__most h2 {
    font-size: 12px;
    line-height: 20px;
  }
  #process .space--general__most img {
    margin-left: 17px;
  }
  #process .space--test {
    width: 90%;
  }
  #process .space--test__text h1 {
    font-size: 26px;
    padding: 20px 0 5px 10px;
  }
  #process .space--test__text p {
    font-size: 11px;
  }
  #process .space--test__text ul {
    padding-left: 14px;
    padding-bottom: 45px;
  }
  #process .space--test__text ul li {
    font-size: 12px;
    padding: 5px 0;
    margin: 0 0;
  }
  #process .late {
    width: 90%;
  }
  #process .late--c h1 {
    font-size: 16px;
  }
  #process .late--c p {
    font-size: 11px;
    margin-left: 16px;
    margin-bottom: 16px;
  }
  #process .late--c ul li {
    font-size: 18px;
    margin: 0 7px;
  }
  #process .late--c ul li p {
    font-size: 10px;
  }
  #pro .pro {
    flex-direction: column;
  }
  #pro .pro--title h1 {
    text-align: center;
  }
  #pro .pro--title p {
    font-size: 10px;
    line-height: 17px;
  }
  #request h1 {
    text-align: center;
    font-size: 25px;
  }
  #request .request {
    flex-direction: column;
  }
  #request .request p {
    font-size: 11px;
  }
  #request .request--block {
    width: 90%;
  }
  #request .request--block button {
    height: 9%;
    margin: 0 75px;
    width: 50%;
    font-size: 14px;
  }
  #request .request--block__input input {
    font-size: 9px;
    width: 123px;
    height: 35px;
  }
  #request .request--block .input {
    font-size: 14px;
    width: 90%;
    height: 40px;
    margin-bottom: 30px;
  }
  #request #pro .pro {
    flex-direction: column;
  }
  #project .project {
    flex-direction: column;
  }
  #project .project--left h1 {
    font-size: 27px;
  }
  #project .project--left button {
    width: 42%;
    font-size: 12px;
  }
  #project .project--left span {
    font-size: 14px;
    padding-bottom: 5px;
  }
  #project .project--left__icons p {
    font-size: 12px;
  }
  #project .project--right .menu {
    padding: 0 10px;
  }
  #project .project--right .menu h1 {
    font-size: 14px;
    padding: 10px 0;
  }
  #project .project--right .menu p {
    font-size: 10px;
  }
}

/*# sourceMappingURL=media.css.map */
