@import "mixin";
@import "reset";

#header {
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.75);
  animation: ani 1s alternate;

  @keyframes ani {
    0% {
      transform: translateY(-600px);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: translateY(0);
    }
  }

  .header {
    @include sb;

    &--logo {
      img {

      }

      &__nav {

        a {
          font-weight: 400;
          font-size: 15px;
          color: #FFFFFF;
          padding: 0 10px;

          &:hover {
            color: red;
            transform: scale(1.1);
            border-bottom: 2px solid red;
          }
        }

        button {
          font-weight: 400;
          font-size: 15px;
          color: white;
          background: transparent;
          padding: 10px 20px;
          border-radius: 8px;
          transition: .4s;
          cursor: pointer;
          border: 2px solid white;

          &:hover {
            transform: scale(1.1);
            background: red;
          }
        }
      }
    }
  }
}

#hero {
  background: url("/img/alvaro.png") no-repeat center/cover;
  min-height: 100vh;

  .hero {
    padding-top: 250px;

    &--group {
      h1 {
        font-weight: 700;
        font-size: 120px;
        //line-height: 120%;
        color: #FFFFFF;
        text-shadow: 0 10px 10px rgba(0, 0, 0, 0.85);
      }

      p {
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        margin-bottom: 40px;
      }

      &__text {
        //justify-content: space-between;
        align-items: center;

        button {
          @include btn;
          width: 322px;
          height: 50px;
          background: #ff001E;
          border-radius: 10px;
          border: none;
          font-weight: 600;
          font-size: 18px;
          color: #000000;
          margin-bottom: 30px;
        }

        h2 {
          font-weight: 500;
          font-size: 20px;
          color: #FFFFFF;
          margin-bottom: 36px;
        }


        &--icons {
          a {
            font-size: 40px;
            color: red;
          }
        }
      }
    }
  }
}

#pro {
  background: #222222;

  .pro {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--title {
      margin-top: 50px;

      h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
      }

      p {
        width: 554px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.003em;
        color: #FFFFFF;
        margin: 20px 0;
      }

      h2 {
        width: 554px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.003em;
        color: #FFFFFF;
        margin: 0 0 60px 0;
      }
    }

    &--mb {
      margin-top: 60px;

      input {
        width: 600px;
        height: 40px;
      }

      h1 {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
      }
    }
  }
}


#what {
  background: #222222;

  .what {
    h1 {
      font-weight: 700;
      font-size: 36px;
      color: #FFFFFF;
    }

    &--our {
      width: 710px;
      height: 350px;
      background: #FFFFFF;
      border-radius: 20px;

      h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #FF001E;
        margin-left: 30px;
        padding-top: 35px;
      }

      p {
        width: 660px;
        height: 154px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #000000;
        margin-left: 30px;
        padding-top: 10px;
      }
    }
  }
}
